* {
 margin: 0;
 padding: 0;
}

body {
}

h1 {
}

h2 {
}

/*
h2:before {
  content: '■';
  margin-right: 8px;
}
*/

h3 {
}

/*
h3:before {
  content: '○';
  margin-right: 8px;
}
*/

h4 {
}

a {
}

.contents {
}

.title {
 margin: 20px;
 padding: 40px;
 border: solid 20px green;
 background-color: rgb(255, 166, 0);
 color: white;
 font-size: 2em;
 text-align: center;
 border-radius: 40px;
}

.heading {
}

.subheading {
}

.goal {
}

.word {
}

